# APLICAÇÃO
PORT=3000

# BANCO DE DADOS

DATABASE_URL="YOUR DATABASE URL..."

# AUTENTICAÇÃO
SEED_USER_NAME="YOUR_SYSTEM_USERNAME..."
SEED_USER_EMAIL="YOUR_SYSTEM_USER_EMAIL..."
SEED_USER_PASSWORD="YOUR_SYSTEM_USER_PASSWORD..."